<h3>Update an Artist</h3>
<%= form_for @artist do |f|%>
  <%= f.label "What's your name?"%></br>
  <%= f.text_field :name%></br>
  <%= f.label "Write your bio?"%></br>
  <%= f.text_area :bio%></br>
  <%= f.submit%></br>
<% end %>